
!Software Version V500R005C10SPC300
!Last configuration was saved at 2025-05-27 02:02:54 UTC
#
sysname USG6000V1
#
 l2tp domain suffix-separator @
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
 hrp enable
 hrp interface GigabitEthernet1/0/3 remote 10.1.3.2
#
 update schedule location-sdb weekly Sun 01:31
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 user-manage redirect
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 23:01
 update schedule av-sdb daily 23:01
 update schedule sa-sdb daily 23:01
 update schedule cnc daily 23:01
 update schedule file-reputation daily 23:01
#
ip vpn-instance default
 ipv4-family
#
ip service-set auth type object 16
 service 0 protocol tcp source-port 0 to 65535 destination-port 8887
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
acl number 3000
 rule 5 permit ip source 10.1.1.0 0.0.0.255 destination 10.1.4.0 0.0.0.255 
#
ipsec proposal prop26516521520
 encapsulation-mode auto
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
ike proposal 1
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
ike peer ike265165215204
 exchange-mode auto
 pre-shared-key %^%#tcf)2j->/$>7-UQV*=<(e2+^QcfQv&|op+Btc:=4%^%#
 ike-proposal 1
 remote-id-type ip
 remote-id 10.1.2.4
 local-id 10.1.2.3
 dpd type periodic
 remote-address 10.1.2.4 
#
ipsec policy ipsec2651652151 1 isakmp
 security acl 3000
 ike-peer ike265165215204
 proposal prop26516521520
 tunnel local 10.1.2.3
 alias ipsec 
 sa trigger-mode auto
 sa duration traffic-based 10485760
 sa duration time-based 3600
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 service-scheme webServerScheme1748310006476
 domain default
  service-scheme webServerScheme1748310006476
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%*lGD$}$+n1S_*EW<Cvz9*G>}Os|r))8awId*63$IVh2GG>#*@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%PE|_DBm&$LJ)k'Ni@G&~6`'IuYgjQ;!=N5`dR_'O&{H>`'L6@%@%
  level 15 

 manager-user admin 
  password cipher @%@%k2q3;45*`L\UxhQnXPA%&.NGm5D%"9>POT3}^XDL&%YA.NJ&@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.0.1 255.255.255.0
 alias GE0/METH
#
interface GigabitEthernet1/0/0
 undo shutdown
 ip address 192.168.1.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/1
 undo shutdown
 ip address 10.1.1.1 255.255.255.0
 vrrp vrid 1 virtual-ip 10.1.1.3 active
#
interface GigabitEthernet1/0/2
 undo shutdown
 ip address 10.1.2.1 255.255.255.0
 vrrp vrid 2 virtual-ip 10.1.2.3 active
 ipsec policy ipsec2651652151
#
interface GigabitEthernet1/0/3
 undo shutdown
 ip address 10.1.3.1 255.255.255.0
 vrrp vrid 3 virtual-ip 10.1.3.3 active
#
interface GigabitEthernet1/0/4
 undo shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
#
interface GigabitEthernet1/0/6
 undo shutdown
#
interface Virtual-if0
#
interface NULL0
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/1
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet1/0/0
 add interface GigabitEthernet1/0/2
#
firewall zone dmz
 set priority 50
 add interface GigabitEthernet1/0/3
#
ip route-static 10.1.4.0 255.255.255.0 GigabitEthernet1/0/2 10.1.2.4
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
 nat server ftp_server protocol tcp global 10.1.2.111 ftp inside 10.1.3.10 ftp
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
nat address-group natpool_src 0
 mode pat
 section 0 2.2.2.2 2.2.2.5
#
nat address-group natpool_ftp 1
 mode pat
 section 0 10.1.3.15 10.1.3.20
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 rule name local_untrust
  source-zone local
  destination-zone untrust
  source-address 10.1.2.3 mask 255.255.255.255
  destination-address 10.1.2.4 mask 255.255.255.255
  action permit
 rule name untrust_local
  source-zone untrust
  destination-zone local
  source-address 10.1.2.4 mask 255.255.255.255
  destination-address 10.1.2.3 mask 255.255.255.255
  action permit
 rule name trust_untrust
  source-zone trust
  destination-zone untrust
  source-address 10.1.1.0 mask 255.255.255.0
  destination-address 10.1.4.0 mask 255.255.255.0
  action permit
 rule name untrust_trust
  source-zone untrust
  destination-zone trust
  source-address 10.1.4.0 mask 255.255.255.0
  destination-address 10.1.1.0 mask 255.255.255.0
  action permit
 rule name policy_sec
  source-zone trust
  destination-zone untrust
  source-address 10.1.1.0 mask 255.255.255.0
  destination-address 10.1.2.0 mask 255.255.255.0
  user user-group /default/employee
  action permit
 rule name from_untrust_to_dmz
  source-zone untrust
  destination-zone dmz
  service ftp
  action permit
 rule name auth_policy
  source-zone local
  source-zone trust
  destination-zone local
  destination-zone trust
  service auth
  action permit
#
auth-policy
 rule name p1
  source-zone trust
  destination-zone untrust
  source-address 10.1.1.0 mask 255.255.255.0
  destination-address 10.1.2.0 mask 255.255.255.0
  action auth
#
traffic-policy
#
policy-based-route
#
nat-policy
 rule name source_nat
  source-zone trust
  destination-zone untrust
  source-address 10.1.1.0 mask 255.255.255.0
  destination-address 10.1.2.0 mask 255.255.255.0
  action source-nat address-group natpool_src
 rule name ftp_nat
  source-zone untrust
  destination-zone dmz
  source-address 10.1.2.0 mask 255.255.255.0
  service ftp
  action source-nat address-group natpool_ftp
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return  